*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build.config.properties

# Keystore files
*.jks
*.keystore
app/keystore/
SmartCookieWeb-Preview-master
reference-browser-master
m3u8-downloader-master
android-youtube-player-dev

# Kotlin compiler caches and error logs
.kotlin/
